
.aiheader-u4i0gy-1102402085-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0f48; /* Dark blue background color */
  padding: 10px; /* Optional padding */
}

.aiheader-u4i0gy-1102402085 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Make sure it takes full width */
  max-width: 1200px; /* Optional max-width for better layout on larger screens */
}

.aiheader-u4i0gy-1102402085 > div {
  display: flex;
  flex-direction: row; /* Ensure items are aligned horizontally */
  align-items: center;
  color: white; /* Text color */
}

.aiheader-u4i0gy-1102402085 > div > div {
  display: flex;
  flex-direction: row; /* Ensure items are aligned horizontally */
  align-items: center;
  justify-content: space-between;
}

.aiheader-u4i0gy-1102402085 a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.aiheader-u4i0gy-1102402085 h3 {
  margin: 5px 0;
}

.aiheader-u4i0gy-1102402085 .button-container {
  margin-bottom: 5px;
}

.aiheader-u4i0gy-1102402085 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row; /* Ensure items are aligned horizontally */
  align-items: center;
}

.aiheader-u4i0gy-1102402085 li {
  margin: 0 10px; /* Add horizontal margin to space out list items */
}

@media (width >= 900px) {
  .aiheader-u4i0gy-1102402085 {
    justify-content: space-between; /* Ensure even spacing of navigation links */
  }

  .aiheader-u4i0gy-1102402085 > div {
    align-items: center;
    flex-direction: row; /* Ensure items are aligned horizontally */
    gap: 24px;
  }

  .aiheader-u4i0gy-1102402085 > div > div {
    flex: 1;
    order: unset;
  }
}
